.DashedSentence-sentence { 
     font-size: 24px;
} 

.CQuestion-question-text { 
     font-size: 24px;
} 


.Question-Question table { font-size: 20px; } 
.Question-instructions-text { font-size: 20px; } 
